.main-section{
    background-color: #FFF;   
}

.search-title{
    display: flex;
    flex-direction: row;
    padding: 120px 0px 48px 48px;
    color: #000;
    /*font-family: IBM Plex Sans;*/
    font-size: 32px;
    font-style: normal;
    line-height: normal;

    &--result{
        padding-right: 15px;
        font-weight: 400;
    }
    
    &--name{
        font-weight: 400;
    }
}

.song-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 22px 0px;
}


